<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minor webdev enquete</title>
    </head>
    <body>
    <form id="form" method="post" action="/result">
        <input name="name" placeholder="name">
        <input name="age" placeholder="age">
        <input type="submit" value="submit">
    </form>

    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />

        <h1>Minor web dev enquete</h1>
        <form action="/result" method="post">
            <%- include('../partials/userInfo')%>
            <hr />
            <%- include('../partials/weeklyNerd')%>
            <hr />
            <%- include('../partials/WAFS')%>
            <hr />
            <%- include('../partials/CSSTTR')%>
            <hr />
            <%- include('../partials/PWA')%>
            <hr />
            <%- include('../partials/BT')%>
            <hr />
            <%- include('../partials/RTW')%>
            <hr />
            <%- include('../partials/HCD')%>
        </form>

    </body>
</html>