<%- include('../partials/header')%>

        <h1>Minor web dev enquete</h1>
        <form id="form" method="post" action="/result">
            <%- include('../partials/userInfo')%>
            <hr />
            <%- include('../partials/weeklyNerd')%>
            <hr />
            <%- include('../partials/WAFS')%>
            <hr />
            <%- include('../partials/CSSTTR')%>
            <hr />
            <%- include('../partials/PWA')%>
            <hr />
            <%- include('../partials/BT')%>
            <hr />
            <%- include('../partials/RTW')%>
            <hr />
            <%- include('../partials/HCD')%>
            <input type="submit">
        </form>

    </body>
</html>